.ball{
    height:50px;
    width:50px;
    color:red;
    z-index: 1;
}

.ion-navicon-round{
    color:white;
    margin-top:2em;
    position: fixed;
    top: 0;
    right: 30px;
    cursor: pointer;
    width:100px;
    height:100px;
  
    /*transition: background-color 300ms ease*/
    vertical-align: center;
  
  }
  
  
  .ion-navicon-round:hover .ion-navicon-round{
    left: 50%;
    right: 50%;
  }
  .ion-navicon-round:hover{
    background-color: #2c2a72;
  }
  
  ul li ul{
      display:none;
  }
  /*ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {display: inline-block;}
  ul li:hover {background: #555;}
  ul li:hover ul {display: block;}
  
  ul li ul li { 
    background: #555; 
    display: block; 
  }
  ul li ul li a {display:block !important;} 
  ul li ul li:hover {background: #666;}*/