

.portfolio-top{
  
  height:700px;
  width:100%;
  background-image: url("../images/oil-painting-me.jpg"); 
}

.portfolio{
  position:relative;
  z-index:2;
  margin-top:20px;
}
.portfolio .row{
  margin-top:10px;
}

.development-port{
 margin-bottom:20px;
}
.port-img{
  height:300px;
  
  position:relative;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.port-img:hover{
  opacity:0.3;
}

.middle:hover{
  opacity:1;
}

/*.text {
  background-color: #201b56;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width:200px;
  text-align: center;
  cursor:pointer;
}*/

.portfolio-content{
  margin-left:auto;
  margin-right:auto;
  
}

.portfolio-top{
    position:relative;
}
.portfolio-headers{
  text-align: center;
  color: #d25d56;
  margin-top:100px;
  
}

h1{
font-size: 4em;
position:relative;
color:white;
text-align: center;
top:325px;
margin-bottom:400px;
}



h2{
  font-size: 3em;
  text-align: center;
  border-bottom:#201b56 dotted 4px;
  padding-bottom:10px;
}

.blocjams{
  color:white;
  border-bottom:white solid 3px;
  cursor:pointer;
}

.blocjams-info{
  display: none;
  
}

.port-like-simon{
  margin-top:200px;
}


.dev-background{
  /*background:#308d59;*/
  opacity:0.6;
  position:absolute;
  width:900px;
  height:800px;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  
}

.port-background{
  /*background:#56c9b7;*/
  opacity:0.6;
  position:absolute;
  width:900px;
  height:1000px;
  top: 1300px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  
}
.development-port .col{
  text-align:center;
  opacity:1;
}

.first-img{
  margin-left:auto;
}

.port-photo{
  height: 500px;
  width:700px;
}

p{
  text-align:center;
  font-size:2em;
}



.portfolio-container{
  
  
  width:100%;
  
  
}

/*.circle-container {
  width:300px;
  height:300px;
  text-align:center;
  -moz-border-radius: 50%;
-webkit-border-radius: 50%;
 border-radius: 50%;
  overflow:hidden;
}

.circle{
min-width:300px;
max-width:none;
height:300px;
margin:0 -100%;
}*/

.development-section{
  border-bottom:#201b56 dotted 4px;
}