.profile-top{
    height:700px;
    width:100%;
    /*background-color:#231f55;*/
    background-image: url("../images/profile-background.jpg");
}

h1{
    font-size: 4em;
    position:relative;
    color:white;
    text-align: center;
    top:325px;
    margin-bottom:400px;
}

.headshot{
    float:left;
    margin-top:0;
}

.clearfloat{
    clear:both;
}

.profile-words{
    padding:10px;
}